
:root {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fefcf4;
}
footer {
  margin: 0;
  padding: 0;
}
.body {
  width:100vw;
  overflow-x: hidden;
}

.chevron {
  position:absolute;
  left: calc(50% - 40px); 
  bottom:3%;
  font-size: 5rem;
  color: white;
  z-index: 20;
}
.chevron:hover {
  cursor: pointer;
}
html {
  overflow-x: hidden;
}